In [9]:
def distance_from_zero(x):
    if type(x) in (int, float):
        return abs(x)
    else:
        print("Not Possible")
        return 0

# Llama a la funciÃ³n con diferentes valores
print(distance_from_zero(-10))
distance_from_zero("cat")

10
Not Possible

0

In [1]:
Numbers = [15, 25, 40, 50]
Numbers.append(100)  # Append 100 to the end of the list
print(Numbers)

[15, 25, 40, 50, 100]

In [2]:
Cars = ("BMW", "Dodge", "Ford")
Cars (2)

TypeError: 'tuple' object is not callable

In [3]:
Cars = ("BMW", "Dodge", "Ford")
Cars [2]

'Ford'

In [4]:
Cars = ("BMW", "Dodge", "Ford")
Cars [1]

'Dodge'

In [1]:
52%13

0

In [2]:
52/13

4.0

In [3]:
Menu = {'meal_1': 'Spaghetti', 'meal_2': 'Fries', 'meal_3': 'Hamburger', 'meal_4': 'Lasagna'}
Menu['meal_3'] = 'CheeseBurger'
print('New menu', Menu)

New menu {'meal_1': 'Spaghetti', 'meal_2': 'Fries', 'meal_3': 'CheeseBurger', 'meal_4': 'Lasagna'}

In [4]:
Menu = {'meal_1': 'Spaghetti', 'meal_2': 'Fries', 'meal_3': 'Cheeseburger', 'meal_4': 'Lasagna'}
Dessert = ['Pancakes', 'Ice-cream', 'Tiramisu']

# Attach Dessert as the sixth meal
Menu['meal_5'] = Dessert

# Print the updated menu
print('Updated Menu:', Menu)

Updated Menu: {'meal_1': 'Spaghetti', 'meal_2': 'Fries', 'meal_3': 'Cheeseburger', 'meal_4': 'Lasagna', 'meal_5': ['Pancakes', 'Ice-cream', 'Tiramisu']}

In [5]:
Menu = {'meal_1': 'Spaghetti', 'meal_2': 'Fries', 'meal_3': 'Cheeseburger', 'meal_4': 'Lasagna'}
Dessert = ['Pancakes', 'Ice-cream', 'Tiramisu']

# Attach Dessert as the sixth meal
Menu['meal_6'] = Dessert

# Print the updated menu
print('Updated Menu:', Menu)

Updated Menu: {'meal_1': 'Spaghetti', 'meal_2': 'Fries', 'meal_3': 'Cheeseburger', 'meal_4': 'Lasagna', 'meal_6': ['Pancakes', 'Ice-cream', 'Tiramisu']}

In [6]:
Price_list = {'Cheeseburger': 8, 'Fries': 5, 'Lasagna': 12, 'Soup': 5, 'Spaghetti': 10}Price_list = {'Cheeseburger': 8, 'Fries': 5, 'Lasagna': 12, 'Soup': 5, 'Spaghetti': 10}

# Check the price of Spaghetti using .get()
spaghetti_price = Price_list.get('Spaghetti')

SyntaxError: invalid syntax (3520734450.py, line 1)

In [1]:
digits = [0,1,2,3,4,5,6,7,8,9]
count = 0
for count in range(10):
    print(digits)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [12]:
digits = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

for d in digits:
    print(d\n)

SyntaxError: unexpected character after line continuation character (408712838.py, line 4)

In [13]:
digits = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

for d in digits:
    print(d, end=" ")

0 1 2 3 4 5 6 7 8 9

In [16]:
odd_number = 1
while odd_number <=30:
    print (odd_number, end = " ")
    odd_number = odd_number + 2

1 3 5 7 9 11 13 15 17 19 21 23 25 27 29

In [17]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [18]:
list(range(1,11,1))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [19]:
list(range(0,20,1))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [20]:
for v in variables:
    list(range(0,11,1)*2)

NameError: name 'variables' is not defined

In [21]:
for v in v:
    list(range(0,11,1)*2)

NameError: name 'v' is not defined

In [23]:
var = 0
for v in var:
    list(range(0,11,1)*2)

TypeError: 'int' object is not iterable

In [24]:
# Suponiendo que 'var' es una lista
var = [1, 2, 3, 4]  # Se define 'var' como una lista de ejemplo

for v in var:
    result = list(range(0, 11, 1)) * 2
    print(result)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [25]:
# Suponiendo que 'var' es una lista
var = [1, 2, 3, 4]  # Se define 'var' como una lista de ejemplo

for v in var:
    result = list(range(0, 11, 1))
    print(result*2)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [26]:
# Using range() function to create a loop from 1 to 10
for i in range(1, 11):
    print(i * 2)

2
4
6
8
10
12
14
16
18
20

In [27]:
for i in range(1, 31):
    if i % 2 != 0:  # Check if the number is odd
        print(i)
    else:
        print("Even")

1
Even
3
Even
5
Even
7
Even
9
Even
11
Even
13
Even
15
Even
17
Even
19
Even
21
Even
23
Even
25
Even
27
Even
29
Even

In [28]:
for i in range(1, 31):
    print(i if i % 2 != 0 else "Even", end=' ')

1 Even 3 Even 5 Even 7 Even 9 Even 11 Even 13 Even 15 Even 17 Even 19 Even 21 Even 23 Even 25 Even 27 Even 29 Even

In [1]:
n = [1, 2, 3, 4, 5, 6]
result = [num * 10 for num in n]
for value in result:
    print(value)

10
20
30
40
50
60

In [8]:
def func(nums):
    for x in nums:
        if x<20:
            total=+1
    return total

nums = [1,35,12,24,31,51,70,100]
total = 0
func(nums)

1

In [9]:
def func(nums):
    total = 0
    count = 0
    while count < len(nums):
        if nums[count] < 20:
            total += 1
        count += 1
    return total

nums = [1, 35, 12, 24, 31, 51, 70, 100]
result = func(nums)
print("Total values less than 20:", result)

Total values less than 20: 2

In [10]:
def func(nums):
    total = 0
    count = 0
    while count < len(nums):
        if nums[count] < 20:
            total += 1
        count += 1
    return total

nums = [1, 35, 12, 24, 31, 51, 70, 100] #2
result = func(nums)
print(result)

2

In [11]:
nums = [1,35,12,24,31,51,70,100]

total = 0
count = 0
while count < len(nums):
    if nums[count] < 20:
        total += 1
    count += 1

print(total)

2

In [12]:
nums = [1,35,12,24,31,51,70,100]

count = 0
index = 0
while index < len(nums):
    if nums[index] < 20:
        count += 1
    index += 1
    
print(count)

2

In [13]:
nums = [1,35,12,24,31,51,70,100]

count = 0
index = 0
while index < len(nums):
    if nums[index] < 20:
        count += 1
    index += 1
    
print(count)

2

In [ ]:
nums = [1,35,12,24,31,51,70,100]
x=0
count = 0
while(nums[x]<20):
    count=+1
    x=+1
print(count)

In [ ]:
nums = [1,35,12,24,31,51,70,100]

cantidad = 0
indice = 0

while true:
    if nums[i] < 20:
        cantidad =+ 1
    indice =+ 1
    if indice == len(nums):
        break
    
print(indice)